{% load bootstrap3 %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="/static/css/bulma.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
<link rel="stylesheet" href="{% static 'css/phase.css' %}">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">


{% endblock %}


<!-- main -->
{% for n in neighborhoods %}
<div class="box">
  <button class="button is-primary" ><a href="{% url 'home'%}">Home</a></button>
<div class="div" style="text-align: center;">
  <h6><mark>{{n.title}}</mark></h6> 
<p><mark>Located at {{n.location}}</mark></p> 
</div>
</div>
<div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child box">

          <!-- project -->
         
          <div class="card">
            <div class="card-image">
              {% for img in images %}
              <figure style="text-align: center;" class="image is-4by1">
                <img src="{{img.image.url}}"  alt="Placeholder image">
              
                  <!--bio  -->
                  <p class="title is-3"></p>
                  <mark style="font-weight: 800;">{{n.bio}}</mark>
                  <p class="subtitle is-6"></p>
          {% endfor %}
                 <hr>
              </figure>
              {% endfor %}
            </div>
            
            <div class="card-content">
              <div class="media">
                <div class="media-left"> </div>
                <div class="media-content">
                  <!--  -->
                <strong class="title">Our Neighborhood provides:</strong>
                <br>
                <br>


                  <!-- images -->
                  <div class="columns">
                    <div class="column">
                      <div class="div">
                        <p class="subtitle is-6" style="font-weight: 800;">Schools</p>
                        

                          Richmond Dr Elementary
                          W.C. Sullivan Middle School
                          South Pointe High School
                      </div>
                    </div>
                    <div class="column">
                      <div class="div">
                        <p class="subtitle is-6" style="font-weight: 800;">Food & Drink</p>
                        

                          Salsarita's Fresh Mexican Grill
                          NC Noodle Bar
                          P W's Gourmet Ice Cream & Catering
                          Island Grill & Pub
                      </div>
                      Second column
                    </div>
                    <div class="column">
                      <div class="div">
                        <p class="subtitle is-6" style="font-weight: 800;">Shopping</p>
                        

                        Harris Teeter
                        Food Lion
                        Publix
                        Walmart
                        Target
                        Rock Hill Galleria Mall 
                        Charlotte Premium
                        Outlets 
                        
                      </div>
                      Third column
                    </div>
                    <div class="column">
                      <div class="div">
                        <p class="subtitle is-6" style="font-weight: 800;">Hospital & Pharmacy</p>

                        Piedmont Medical Center
                        Hospital
                        Walgreens
                        CVS 
                        
                      </div>
                      Fourth column
                    </div>
                  </div>
                  <!-- images -->
                  
                </div>
              </div>
          
              <div class="content">
                <strong></strong>
               </a>.
                <!-- <a href="#">#css</a> <a href="#">#responsive</a> -->
                <br>
                <time datetime="2016-1-1"></time>
              </div>
            </div>
          </div>
         
          <!-- project -->

      </div>
    </div>
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title">Contacts</p>
          <!-- design -->
         <div class="box">
          {% for b in businessess %}
         <div class="div"><strong>{{b.b_name}} == </strong><span></span>
          <strong>{{b.contacts}} , </strong>
          <strong>{{b.email}}</strong></div>
          <br>
        <br>
          {% endfor %}
        </div>
        <br>
        <br>
        
            
        </div>
       
        <div class="tile is-child box">
          <!-- star rating -->
          <h1 class="title">Announcements</h1>
          <h5>Vacant Houses</h5>
          
             <div class="column">
               <ol>Phase 1</ol>
               <ul>
                 <li>House no 40</li>
                 <li> House no 16</li>
                 <li> House no 10</li>
                 <li> House no 01</li>

               </ul>
             </div>
             <!-- 2 -->
             <div class="column">
              <ol>Phase 2</ol>
              <ul>
                <li>House no 32</li>
                <li> House no 06</li>
                <li> House no 17</li>
                <li> House no 12</li>

              </ul>
            </div>
            <!-- 3 -->
            <div class="column">
              <ol>Phase 3</ol>
              <ul>
                <li>House no 02</li>
                <li> House no 10</li>
                <li> House no 31</li>
                <li> House no 19</li>

              </ul>
            </div>

           </div>
          
        <div class="div">
        </div>
          
          <!-- star rating -->
        </div>
      </div>
  
  </div>
  <!-- posts -->

  <div class="tile  is-vertical is-parent">
  <div class="tile is-child box">
      <!-- Page Content -->
<div class="container">

  <!-- Page Heading -->


  <!-- Project One -->

  <div class="row">
    {% for img in posts %}
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="{{img.images.url}}" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>{{img.name}}</h3>
      <p>{{img.caption}}</p>
      <i>{{img.created|date }}</i>
      <a class="btn btn-primary" href="#">View Project</a>
    </div>
    {% endfor %}
  </div>
  <!-- /.row -->

  <hr>


</div>
<!-- /.container -->
   
  </div>
  </div>

  <!-- posts -->
  {% for n in neighborhoods %}     <!-- comments -->
  
      <article class="tile is-child notification is-primary">
              
      </form>
      <p class="title"></p>
      <p class="subtitle"></p>

    <article>
      <div>
        <article class="media">
          <div class="media-content">
            <div class="content">
              <!-- carousel -->

              <section class="testimonial">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block">
                            <ol class="carousel-indicators tabs">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                                    <figure>
                                        <img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-01-179x179.png" class="img-fluid" alt="">
                                    </figure>
                                </li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1">
                                    <figure>
                                        <img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-02-306x306.png" class="img-fluid" alt="">
                                    </figure>
                                </li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2">
                                    <figure>
                                        <img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-03-179x179.png" class="img-fluid" alt="">
                                    </figure>
                                </li>
                            </ol>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-center align-items-center">
                            <div id="carouselExampleIndicators" data-interval="false" class="carousel slide" data-ride="carousel">
                                <h3>WHAT OUR CLIENTS SAY</h3>
                                <h1>TESTIMONIALS</h1>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="quote-wrapper">
                                            <p>{{n.testimonials1}}</p>
                                            <h3></h3>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="quote-wrapper">
                                            <p>{{n.testimonials2}}</p>
                                            <h3></h3>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="quote-wrapper">
                                            <p>{{n.testimonials3}}</p>
                                            <h3></h3>
                                            <br>
                                            <br>

                                        </div>
                                    </div>
                                </div>
                                <ol class="carousel-indicators indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

              <!-- carousel -->


            </div>
          </div>
        </article>
      </div>
    </article>

      </article>
      {% endfor %}
      <div class="box"></div>

      <script>
        $(document).ready(function(){
  $(".testimonial .indicators li").click(function(){
    var i = $(this).index();
    var targetElement = $(".testimonial .tabs li");
    targetElement.eq(i).addClass('active');
    targetElement.not(targetElement[i]).removeClass('active');
            });
            $(".testimonial .tabs li").click(function(){
                var targetElement = $(".testimonial .tabs li");
                targetElement.addClass('active');
                targetElement.not($(this)).removeClass('active');
            });
        });
$(document).ready(function(){
    $(".slider .swiper-pagination span").each(function(i){
        $(this).text(i+1).prepend("0");
    });
});
      </script>