{% load bootstrap3 %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="/static/css/bulma.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
<link rel="stylesheet" href="{% static 'css/phase.css' %}">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">


{% endblock %}

<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
<!-- main -->
<div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child box">

          <!-- project -->
          
          <div class="card">
            <div class="card-image">
              <figure style="text-align: center;">
                <img src="" height="900" width="900" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left"> </div>
                <div class="media-content">
                  <p class="title is-3">Hello3</p>
                  <p class="subtitle is-6"></p>
                   <!-- images -->
                  <div class="columns">
                    <div class="column">
                      First column
                    </div>
                    <div class="column">
                      Second column
                    </div>
                    <div class="column">
                      Third column
                    </div>
                    <div class="column">
                      Fourth column
                    </div>
                  </div>
                  <!-- images -->
                </div>
              </div>
          
              <div class="content">
                <strong></strong>
               </a>.
                <!-- <a href="#">#css</a> <a href="#">#responsive</a> -->
                <br>
                <time datetime="2016-1-1"></time>
              </div>
            </div>
          </div>
         
          <!-- project -->

      </div>
    </div>
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title">Announcements</p>
          
          <!-- design -->
         <div class="box">
            <p>Businessess</p>
            {% for b in business%}
            {%endfor%}
            <!-- design -->
           
         
        </div>
        
            
        </div>
       
        <div class="tile is-child box">
          <!-- star rating -->
          <h1>Business Contacts</h1>
          <form method="Post" action="" role="form">
            {% csrf_token %}
            <div class="rating">
              <mark>Name</mark>
                {{form.name}}
            </div>
            <br>
            <br>
            <div class="rating">
              <mark>Email</mark>
                {{form.email}}
            </div>
            <br>
            <br>
            <div class="rating">
              <mark>Contacts</mark>
                {{form.contacts}}
            </div>
            <br>
            <button type="submit" name="action" class="waves-effect waves-light btn">Post</button>
        </form>  
      
          
          <!-- star rating -->
        </div>
      </div>
  
  </div>
      <!-- comments -->
  
      <article class="tile is-child notification is-warning">
              
      </form>
      <p class="title">Reviews</p>
      <p class="subtitle"></p>

    <article>
      <div>
        <article class="media">
          <div class="media-content">
            <div class="content">
              <!-- carousel -->

              <section class="testimonial">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block">
                            <ol class="carousel-indicators tabs">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                                    <figure>
                                        <img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-01-179x179.png" class="img-fluid" alt="">
                                    </figure>
                                </li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1">
                                    <figure>
                                        <img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-02-306x306.png" class="img-fluid" alt="">
                                    </figure>
                                </li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2">
                                    <figure>
                                        <img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-03-179x179.png" class="img-fluid" alt="">
                                    </figure>
                                </li>
                            </ol>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-center align-items-center">
                            <div id="carouselExampleIndicators" data-interval="false" class="carousel slide" data-ride="carousel">
                                <h3>WHAT OUR CLIENTS SAY</h3>
                                <h1>TESTIMONIALS</h1>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="quote-wrapper">
                                            <p>I have tried a lot of food delivery services but Plate is something out of this world! Their food is really healthy and it tastes great, which is why I recommend this company to all my friends!</p>
                                            <h3>peter lee</h3>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="quote-wrapper">
                                            <p>I have tried a lot of food delivery services but Plate is something out of this world! Their food is really healthy and it tastes great, which is why I recommend this company to all my friends!</p>
                                            <h3>peter lee</h3>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="quote-wrapper">
                                            <p>I have tried a lot of food delivery services but Plate is something out of this world! Their food is really healthy and it tastes great, which is why I recommend this company to all my friends!</p>
                                            <h3>peter lee</h3>
                                        </div>
                                    </div>
                                </div>
                                <ol class="carousel-indicators indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

              <!-- carousel -->


            </div>
          </div>
        </article>
      </div>
    </article>

      </article>

      <script>
        $(document).ready(function(){
  $(".testimonial .indicators li").click(function(){
    var i = $(this).index();
    var targetElement = $(".testimonial .tabs li");
    targetElement.eq(i).addClass('active');
    targetElement.not(targetElement[i]).removeClass('active');
            });
            $(".testimonial .tabs li").click(function(){
                var targetElement = $(".testimonial .tabs li");
                targetElement.addClass('active');
                targetElement.not($(this)).removeClass('active');
            });
        });
$(document).ready(function(){
    $(".slider .swiper-pagination span").each(function(i){
        $(this).text(i+1).prepend("0");
    });
});
      </script>
      </body>